// header

.header {
    background-color: #0f1035;
    // .header__start

    &__start {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px 16px;
    }

    // .header__list

    &__list {
        a + a {
            margin-left: 20px;
        }
    }

    // .header__list-link

    &__list-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 129%;
        color: #ffffff;
        position: relative;
        transition: 0.4s ease-out;
        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #fff;
            content: "";
            transition: 0.4s ease-out;
        }
        &:hover {
            color: #fff;
            transition: 0.4s ease-out;
        }
        &:hover:after,
        &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
    }

    //header__login

    &__login {
        font-weight: 700;
        font-size: 14px;
        line-height: 129%;
        color: #ffffff;
        position: relative;
        transition: 0.4s ease-out;
        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #fff;
            content: "";
            transition: 0.4s ease-out;
        }
        &:hover {
            color: #fff;
            transition: 0.4s ease-out;
        }
        &:hover:after,
        &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
    }

    // .header__bottom

    &__bottom {
        background-color: #fff;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    // .header__end

    &__end {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
    }

    // .header__menu

    &__menu {
        margin-right: 132px;
        a + a {
            margin-left: 30px;
        }
    }

    // .header__menu-link

    &__menu-link {
        font-weight: 400;
        font-size: 13px;
        line-height: 138%;
        color: #000000;
        position: relative;
        transition: 0.4s ease-out;
        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #000;
            content: "";
            transition: 0.4s ease-out;
        }
        &:hover {
            color: #000;
            transition: 0.4s ease-out;
        }
        &:hover:after,
        &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
    }
}

// intreduction

.intreduction {
    // .intreduction__uptext

    &__uptext {
        background-color: #d3f1f3;
        text-align: center;
        padding: 17px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        color: #000000;
        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: #000000;
            transition: 0.5s;
            display: inline-flex;
            align-items: center;
            img{
                width: 13px;
                margin-left: 7px;
                transition: .5s;
            }
            &:hover {
                img{
                    transform: rotate(180deg);
                }
            }
        }
    }
    //intreduction__mainbox
    &__mainbox {
        background-image: url(../img/intreduction-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 40px;
    }

    // .intreduction__inner

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // .intreduction__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        color: #000000;
        max-width: 488px;
        width: 100%;
        padding-top: 33px;
        margin-bottom: 12px;
    }

    // .intreduction__sub-title

    &__sub-title {
        font-weight: 400;
        font-size: 27px;
        line-height: 148%;
        text-align: center;
        color: #000000;
        padding-bottom: 316px;
    }

    // .intreduction__box

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    // .intreduction__input

    &__input {
        max-width: 340px;
        width: 100%;
        padding: 13px 0px 13px 22px;
        border: 2px solid #ffffff;
        border-radius: 3px;
        margin-right: 32px;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: rgba(0, 0, 0, 0.2);
        }
    }

    // .intreduction__btn

    &__btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        color: #ffffff;
        border: 1px solid #190083;
        padding: 13px 27px 13px 26px;
        background: #190083;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            color: #000;
            background: transparent;
            border: 1px solid #000;
        }
    }
}
